[submodule "components/service1"]
	path = components/service1
	url = https://github.com/FantasmaDux/service1
[submodule "components/service2"]
	path = components/service2
	url = https://github.com/FantasmaDux/service2
